# Configurações do Banco de Dados

DB_USER=admin
DB_PASSWORD=senha_super_segura
DB_NAME=vacinacao_ce_db

DATABASE_URL=postgresql+psycopg://admin:senha_super_segura@localhost:5433/vacinacao_ce_db

# Configurações de Segurança do Backend

JWT_SECRET_KEY=sua_chave_secreta_jwt_aqui_para_criptografia


DEFAULT_ADMIN_EMAIL=admin@imunizacao.local
DEFAULT_ADMIN_PASSWORD=Admin@123