# Framework Web e Servidor ASGI
fastapi==0.111.0
uvicorn==0.30.1
python-multipart==0.0.9

# Validação de Dados
pydantic[email]==2.8.3

# Banco de Dados e ORM
sqlalchemy==2.0.30
alembic==1.13.1
psycopg2-binary==2.9.10

# Segurança e Autenticação (JWT e Hashing)
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4

# Variáveis de Ambiente
python-dotenv==1.0.1